button{
	text-align: center;
	cursor:pointer;
}

input{
	cursor:pointer;
}

.mainPageButton{
	width: 85px;
	height: 50px;
    line-height: 15px;
}
.button-container {
    display: grid;
    gap: 1px;
	place-items: center;
}

.custom-alert-overlay {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 9999;
}

.custom-alert-box {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px 25px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px #0003;
  min-width: 250px;
  font-family: sans-serif;
}

.custom-alert-text {
  margin-bottom: 15px;
  font-size: 16px;
  color: #333;
}

.custom-alert-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.custom-alert-btn {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  color: #000;
  background-color: #efefef;
  transition: background 0.2s;
}

.custom-alert-btn:hover {
  background-color: #e5e5e5;
}

#cards {
  width: 100%;
  overflow-x: auto;
  display: block;
}

#cards table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.card img {
  width: 80px;   /* adjust for mobile */
  height: auto;
}

.card {
	background-color: #CE4260;
	transition: background 0.2s;
	border-radius: 25px;
	padding: 5px;
    width: 400px;
    height: 600px;
	margin: 5px;
	margin-top: 5px;
	overflow-wrap: break-word;
	display: inline-block;  
	text-align: center;
	vertical-align: top;  
	font-size: 0.9rem;
}

.card:hover {
  background-color: #D66260;
  cursor:pointer;
}

.OpenTDB {
	width: 60%;
    height: 10%;
}

.QBReader {
	width: 20%;
    height: 18%;
}

.disabled-card {
    opacity: 0.4;
    pointer-events: none;
    user-select: none;
}